/* 
 * 
 * $Buttons
 *
**/

.button {
    position:relative;
    display:inline-block;
    padding:$ms-7 $ms-3;
    margin:0 auto;
    @include type-medium;
    color:$brand2;
    font-weight:$fw-normal;
    line-height:$ms0;
    text-align:center;
    text-decoration:none;
    background-color:transparent;
    text-transform:uppercase;
    cursor:pointer;
    outline:0;
    // border:2px solid $brand2;
    border:0;
    text-align:center;
    @include transition();

    svg {
        position:absolute;
        display:block;
        top:0;
        left:50%;
        width:100%;
        height:auto;
        transform:translateX(-50%);

        path {
            fill:$brand2;
            @include transition();
        }        
    }

    &:active,
    &:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    } 

    @include breakpoint(bp2){
        &:hover {
            text-decoration:none;
            color:$brand3;
            // border-color:$brand3;
            @include transition();

            svg {        
                path {
                    fill:$brand3;
                    @include transition();
                }
            }
        }
    }
}


.button--nav {
    position: absolute;
    top:$ms-8;
    right:0;
    color:$brand3;
    @include type-small;

    svg path {
        fill:$brand3;
    }

    @include breakpoint(bp1){
        top:$ms-8 - .15em;
    }
    @include breakpoint(bp2){
        position: relative;
        top:auto;
        right:auto;
        float:left;
        margin-top:-2px;
        margin-left:$ms0;

        &:hover {
            color:$brand2;

            svg path {
                fill:$brand2;
            }            
        }
    }
}