/*
 *
 * $Forms - Base form styles
 *
**/

$form-input: transparent;
$form-input-text: $brand2;

form {
	clear:both;
	display:block;
	margin:0 auto;
	max-width:400px;
}

label {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:0;
	@include type-small;
	font-weight:100;

	@include breakpoint(bp1){
		margin-bottom:$ms-8;
	    @include type-medium;
	}
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
	float:left;
	width:100%;
	padding:$ms-5 0;
	margin-bottom:0;
	@include font-body;
    @include type-small;
    line-height:$ms0;
    text-align:center;
	color:$form-input-text;
	letter-spacing:0.05em;
	background-color:$form-input; 
	border:0;
	border-bottom:1px solid $brand2;
	-webkit-input-appearance:none;
	@include border-radius(0);
	outline:none;
	
	&::-webkit-input-placeholder { color:lighten($brand2,20%); }
	&:-ms-input-placeholder { color:lighten($brand2,20%); }
	&::-moz-placeholder { color:lighten($brand2,20%); }
	&:-moz-placeholder { color:lighten($brand2,20%); }

	&:focus { 
		outline:none;
	}
}


.form-container {
	display:block;
	margin:0 auto;
	max-width:340px;
	@include clearfix();

	p {
		margin-bottom:$ms-8;
		text-align:center;
	}
}


/*form groups label/input*/
.form__group {
	float:left;
	width:100%;
	margin-bottom:$ms-8;

	@include breakpoint(bp1){
		margin-bottom:$ms-5;
	}
}
.form__group--last {
	margin-bottom:$ms0;
}