/* 
 * 
 * $Icons
 *
**/

.icon {
    display:inline-block;

    &:before {
        display:block;
        content: '';
    }
}


/*Social*/
.icon--social-twitter {
    &:before {
        @include sprite(social-twitter);
    }
}
.icon--social-facebook {
    &:before {
        @include sprite(social-facebook);
    }
}
.icon--social-instagram {
    &:before {
        @include sprite(social-instagram);
    }
}
.icon--social-spotify {
    &:before {
        @include sprite(social-spotify);
    }
}
.icon--social-apple-music {
    &:before {
        @include sprite(social-apple-music);
    }
}


/*Audio*/
.icon--audio {
    display:inline-block;
    font-size:20px;

    &:before {
        display:block;
        content:'';
    }
}
.icon--play {
    &:before {
        @include sprite(audio-play);
    } 
}