/*
 * $Svgsprite
 *
 * Auto create a sprite for svgs using gulp.
 */

$icons: (
      sprite: (width: 284px, height: 286px, pngPath: '../images/pngs/sprite.png', svgPath: '../images/svgs/sprite.svg'),
     audio-play: (width: 130.3px, height: 130.3px, backgroundX: 0px, backgroundY: 0px),
     social-apple-music: (width: 29.745px, height: 31.874px, backgroundX: -131px, backgroundY: -131px),
     social-facebook: (width: 32px, height: 32px, backgroundX: -161px, backgroundY: -163px),
     social-instagram: (width: 32px, height: 32px, backgroundX: -193px, backgroundY: -195px),
     social-spotify: (width: 26.159px, height: 26.008px, backgroundX: -225px, backgroundY: -227px),
     social-twitter: (width: 32px, height: 32px, backgroundX: -252px, backgroundY: -254px),
)