/*
 *
 * $Typography - Base font styles
 *
**/

/*Check _base.scss for base font sizes and modular scale variables*/

/*Base font styles*/
$base-line-height: $ms1;
$base-font-weight: $fw-normal;
$base-font-color: $brand2;
$base-font-alignment: center;

/* Font Faces */
@font-face {
    font-family: 'Camper';
    src: url('../webfonts/Camper-Regular.eot');
    src: url('../webfonts/Camper-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Camper-Regular.woff2') format('woff2'),
        url('../webfonts/Camper-Regular.woff') format('woff'),
        url('../webfonts/Camper-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@mixin font-body { font-family: 'Camper', Arial, sans-serif; }
@mixin font-fancy { font-family: 'Camper', Arial, sans-serif; }

/* Common Text Sizes */
@mixin type-xsmall { font-size:$ms-2; }
@mixin type-small { font-size:$ms-1; }
@mixin type-medium { font-size:$ms0; }
@mixin type-large { font-size:$ms1; }
@mixin type-xlarge { font-size:$ms2; }
@mixin type-giga { font-size:$ms3; }
@mixin type-mega { font-size:$ms4; }


/* ==================
 * Apply text styles
 * ==================*/

body {
    @include font-body;
    font-size:$base-font-size--narrow * 1px;
    line-height:$base-line-height;
    font-weight:$base-font-weight;
    color:$base-font-color;
    text-align:$base-font-alignment;
    word-wrap:break-word;
    -webkit-font-smoothing:antialiased;

    @include breakpoint(bp1) {
        font-size:$base-font-size--wide * 1px; 
    }
}

p,a,blockquote {
    margin:0 0 $ms-2;
    padding:0;
    text-align:$base-font-alignment;
}

a {
    color:$base-font-color;
    font-weight:$fw-normal;
    text-decoration:none;
}

p a {
    @include transition();
    
    &:hover {
        color:$brand3;
        @include transition();
    }
}

sub,
sup { @include type-xsmall; }

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-body;
    padding:0;
    margin:0 0 $ms-6;
    line-height:$ms0;
    font-weight:$base-font-weight;
}

h1 { @include type-mega;  }
h2 { @include type-xlarge; }
h3 { @include type-large; }
h4 { @include type-medium; }
h5 { @include type-small; }
h6 { @include type-medium; }

p + h2,
p + h3,
p + h4,
p + h5 {
    margin-top:$ms-4;
}


ul,
ol { 
    padding:0;
    margin:0 0 $ms0 $ms0;
}
li { 
    padding:0;
    margin:0 0 $ms-7;
    line-height:$ms0;
}

strong {
    font-weight:$fw-bold;
}