<!doctype html>
<html>
    <head>
        {% block head %}{% endblock %}
        {% include "partials/head.njk" %}
    </head>

    <body id="top">
        {% include "partials/header.njk" %}

        <div class="page">
            {% include "partials/sections/404.njk" %}
            {% include "partials/footer.njk" %}
        </div>

        {% include "partials/scripts.njk" %}

    </body>
</html>