<!doctype html>
<html>
    <head>
        {% block head %}{% endblock %}
        {% include "partials/head.njk" %}
    </head>

    <body id="top">
        {% include "partials/hero.njk" %}

        <div id="page" class="page">
            {% include "partials/header.njk" %}
            {% include "partials/sections/about.njk" %}
            {% include "partials/sections/lineup-activities.njk" %}
            {% include "partials/sections/videos.njk" %}
            {% include "partials/sections/gallery.njk" %}
            {% include "partials/sections/partners.njk" %}
            {% include "partials/sections/faq.njk" %}
            {% include "partials/footer.njk" %}
        </div>

        {% include "partials/scripts.njk" %}

    </body>
</html>