<footer class="site-footer">
	<div class="container container--wide">	

		<ul class="social__items">
			<li class="social__item">
				<a href="https://www.instagram.com/welcomecampers" title="Instagram" target="_blank">
					<i class="icon icon--social icon--social-instagram"></i>
				</a>
			</li>
			<li class="social__item">
				<a href="https://www.facebook.com/groups/welcomecampers/" title="Facebook" target="_blank">
					<i class="icon icon--social icon--social-facebook"></i>
				</a>
			</li>
			<li class="social__item">
				<a href="https://twitter.com/welcomecampers" title="Twitter" target="_blank">
	    			<i class="icon icon--social icon--social-twitter"></i>
				</a>
			</li>
			<li class="social__item">
				<a href="https://open.spotify.com/user/thewildhoneypie/playlist/6epakHLHD66BsnHKc6JBba?si=oMmWWZSjSBaiYMZYNFSGAw" title="Spotify" target="_blank">
	    			<i class="icon icon--social icon--social-spotify"></i>
				</a>
			</li>
			<li class="social__item">
				<a href="https://itunes.apple.com/us/playlist/welcome-campers/pl.u-4kzB9iMNkyX" title="Apple Music" target="_blank">
	    			<i class="icon icon--social icon--social-apple-music"></i>
				</a>
			</li>
		</ul>

		<p>&copy; The Wild Honey Pie, LLC. 2009-<span class="js-date">2019</span></p>
	</div>
</footer>