<header class="js-site-header site-header">
    <div class="container container--wide container--relative">
        <nav class="nav-primary">
            <div class="nav-primary__inner">
                <a class="js-nav-trigger site-nav-cta" title="Menu">
                    <span class="lines-button x">
                        <span class="lines"></span>
                    </span>
                </a>
                <div class="js-nav-items site-nav__items">
                    <ul>
                        <li><a class="js-smooth-scroll" href="#about">About</a></li>
                        <li><a class="js-smooth-scroll" href="#lineup-activities">Lineup &amp; Activities</a></li>
                        <li><a class="js-smooth-scroll" href="#video">Video</a></li>
                        <li><a class="js-smooth-scroll" href="#faq">FAQ</a></li>
                    </ul>
                </div>
                <a class="button button--nav" href="https://www.eventbrite.com/e/welcome-campers-tickets-50504279660" target="_blank">
                    Buy Tickets
                    {% include "./button-outline.njk" %}			
                </a>
            </div>
        </nav>
    </div>
</header>