<meta charset="utf-8">
<title>Welcome Campers | All-inclusive Music Festival, Camp Lenox, Massachusetts</title>

<meta name="description" content="Welcome Campers is an all-inclusive music festival produced with love by The Wild Honey Pie." />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:image" content="http://welcomecampers.com/images/misc/welcome-campers-social.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="452" />
<meta property="og:image:alt" content="Welcome Campers" />

<link rel="stylesheet" href="/css/all.css" />
<link rel="shortcut icon" type="image/x-icon" href="/images/icons/favicon.ico">
<link rel="stylesheet" href="https://use.typekit.net/axn7bpu.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134461149-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134461149-1');
</script>  

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '380861745975364');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=380861745975364&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>
<script type="text/javascript">
    ttd_dom_ready( function() {
        if (typeof TTDUniversalPixelApi === 'function') {
            var universalPixelApi = new TTDUniversalPixelApi();
            universalPixelApi.init("fcxcxt5", ["e69j86z"], "https://insight.adsrvr.org/track/up");
        }
    });
</script>

