<div class="js-parallax-hero hero">
    <div class="hero__confetti"></div>

    <img id="js-hero-el1" class="js-hero hero__desktop hero__desktop1" src="/images/hero/main-section-animation-01.jpg" alt="The Wild Honey Pie presents, Welcome Campers, May 25-27, 2019, Camp Lenoz, Massachusetts, all-inclusive music festival" />
    <img id="js-hero-el2" class="js-hero hero__desktop hero__desktop2" src="/images/hero/main-section-animation-02.jpg" alt="" />
    <img id="js-hero-el3" class="js-hero hero__desktop hero__desktop3" src="/images/hero/main-section-animation-03.jpg" alt="" />
    <img id="js-hero-el4" class="js-hero hero__desktop hero__desktop4" src="/images/hero/main-section-animation-04.jpg" alt="" />

    <div class="hero-mobile-container">
        <img id="js-hero-mobile-el1" class="js-hero hero__mobile hero__mobile1" src="/images/hero/wc-tablet-mobile-01.jpg" alt="The Wild Honey Pie presents, Welcome Campers, May 25-27, 2019, Camp Lenoz, Massachusetts, all-inclusive music festival" />
        <img id="js-hero-mobile-el2" class="js-hero hero__mobile hero__mobile2" src="/images/hero/wc-tablet-mobile-02.jpg" alt="" />
    </div>

    <div class="js-parallax-titles hero__content">
        <h2><img class="hero__presents" src="/images/hero/twhp-presents.png" alt="The Wild Honey Pie Presents" /></h2>
        <h1><img class="hero__title" src="/images/hero/logo.png" alt="Welcome Campers" /></h1>
        <h3><img class="hero__date" src="/images/hero/date.png" alt="May 25-27, 2019. Camp Lenox, Massachusetts" /></h3>
        <h4><img class="hero__inclusive" src="/images/hero/all-inclusive.png" alt="All-inclusive Music Festival" /></h4>
    </div>
</div>