/* 
 * 
 * $Entry
 *
**/

.entry {
	display:block;
	margin-bottom:$ms1;
	@include clearfix();

	p,li {
		@include type-medium;
		line-height:$ms0;
		list-style:none;
		text-transform:uppercase;
    }
    
	li {
		clear: both;
		position: relative;
		display:block;
		margin:0 $ms-7 $ms-8;
		line-height:$ms-1;
		text-transform:uppercase;

		@include breakpoint(bp1) {
			display:inline-block;
		}

		&::after {
			display:none;
			position: absolute;
			top:-12px;
			right:-20px;
			content:'.';	
			font-size:44px;

			@include breakpoint(bp1) {
				display:block;
			}
		}

		&:last-of-type {
			&::after {
				display:none;
			}			
		}	
	}
}


.entry__lineup {
    clear:both;
    margin:0 auto;
    max-width: 560px;
    margin-bottom:$ms2;

    @include breakpoint(bp3) {
        max-width: 700px;
    }

    li {
        a {
            color:$brand1;
        }

        @include breakpoint(bp2) {
            a {
                @include transition();
                
                &:hover {
                    color:$brand3;
                    @include transition();
                }
            }
        }

        @include breakpoint(bp1) {
            &:nth-of-type(3),
            &:nth-of-type(5),
            &:nth-of-type(7),
            &:nth-of-type(8)  {
                &::after {
                    display:none;
                }			
            }
        }
        @include breakpoint(bp3) {
            &:nth-of-type(3),
            &:nth-of-type(5),
            &:nth-of-type(8) {
                &::after {
                    display:block;
                }			
            }
            &:nth-of-type(4),
            &:nth-of-type(9),
            &:last-of-type {
                &::after {
                    display:none;
                }			
            }
        }
    }
}


.entry__activities {
    clear:both;
    
    li {
        a {
            color:$brand1;
        }
        
		&::after {
			display:none;
			position: absolute;
			top:-12px;
			right:-20px;
			content:'.';	
			font-size:44px;		

			@include breakpoint(bp1) {
				display:block;
			}
		}

		&:last-of-type {
			&::after {
				display:none;
			}			
		}

		@include breakpoint(bp1) {
			&:nth-of-type(2n) {
				&::after {
					display:none;
				}			
			}
        }
		@include breakpoint(bp2) {
            a {
                @include transition();
                
                &:hover {
                    color:$brand3;
                    @include transition();
                }
            }
        }
		@include breakpoint(bp3) {
			&:nth-of-type(2n) {
				&::after {
					display:block;
				}			
			}
			&:nth-of-type(3n) {
				&::after {
					display:none;
				}			
			}
			&:last-of-type {
				&::after {
					display:none;
				}			
			}
		}
		@include breakpoint(bp4) {
			&:nth-of-type(3n) {
				&::after {
					display:block;
				}			
			}
			&:nth-of-type(4n) {
				&::after {
					display:none;
				}			
			}
		}		
	}
}


.entry--light {
     h1,h2,h3,h4,h5,p,li { color:$brand1; }
     h1,h2,h3,h4,h5 { opacity:0.82; }

     h3 { margin-bottom:$ms-4; }
}


.entry--activities {
	max-width:500px;
	margin:0 auto;

	@include breakpoint(bp3) {
		max-width:740px;
	}
	@include breakpoint(bp4) {
		max-width:900px;
	}
}


.entry--faq {
	max-width:400px;
    margin:0 auto;    

    @include breakpoint(bp1) {
        max-width:500px;
    }
    @include breakpoint(bp3) {
        max-width:960px;
	}
}


.entry--space {
    margin-bottom: $ms3;

    @include breakpoint(bp3) {
        margin-bottom: $ms5;
	}
}

.entry--tight { margin-bottom: 0; }