/* 
 * 
 * $Footer
 *
**/

.site-footer {
	float:left;
	width:100%;
	padding:$ms6 0 $ms7;
	text-align:center;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:$brand2;
	background-image:
		url(#{$base-image-url}/misc/footer-confetti.png), 
		url(#{$base-image-url}/backgrounds/section-blue.jpg);

	p {
		text-align:center;
		font-size:$ms-2;
		line-height:$ms1 + .125em;

		&:last-of-type { margin-bottom:0; }

	}
	p,a { color:$brand1; }
	a { font-weight:$fw-normal; }

	@include breakpoint(bp1) {
		padding:$ms8+.5em 0 $ms5;
	}
	@include breakpoint(bp5) {
		padding:$ms8 +1em 0 $ms7;
	}
}


.site-footer__privacy { 
	margin-bottom:0; 

	a { margin-bottom:0; }
}