/* 
 * 
 * $Header
 *
**/

.site-header {
	display:block;
	width:100%;
	padding:$ms-4 0;
	background-color:$brand1;
	@include clearfix();
	z-index:2;
	overflow: hidden;

	&.sticky {
		position: fixed;
		top:0;
		left:0;
	}

	@include breakpoint(bp2) {
		padding:$ms-3 0 $ms-4;
	}
}
