/* 
 * 
 * $NavPrimary
 *
**/

.nav-primary {
	position:relative;
	display:block;
	float:left;
	width:100%;

	.nav-primary__inner {
		display:block;
		margin:0 auto;	
		max-width:840px;

		@include breakpoint(bp2) {
			max-width:1000px;
		}
	}

	ul {
		position: relative;
		float:left;
		width:100%;
		margin:0 auto;
		padding:$ms1 0 $ms-2;
		list-style:none;
		text-align:center;
		@include transition();

		@include breakpoint(bp2) {
			float:left;
			padding:0;
		}
	}

	li {
		float:left;
		width:100%;
		margin-bottom:$ms-8;
		padding:0 $ms-4;
		@include type-medium;
		text-transform:uppercase;

		@include breakpoint(bp2) {
			float:none;
			display:inline-block;
			width:auto;
			margin-bottom:0;
			padding:0 $ms-6;
		}
		@include breakpoint(bp3) {
			padding:0 $ms-4;	
		}
	}

	li a {
		margin-bottom:0;
		color:$brand2;
		font-weight:$fw-normal;
        @include transition();

		&:hover {
            text-decoration:none;
		}

		@include breakpoint(bp2) {
			@include type-xsmall;

			&:hover {
				color:$brand3;
				text-decoration:none;
                @include transition();
			}
		}
		@include breakpoint(bp3) {
			@include type-small;
		}
	}
}


.site-nav__items {
	float:left;
	width:100%;
	@include transition();

	&.closed {
		height:0 !important;
		@include transition();
	}

	@include breakpoint(bp2) {
		width:auto;
	}
}