/* 
 * 
 * $Section
 *
**/

.canvas-wrapper {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.canvas-wrapper canvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
} 



.section {
	float:left;
	width:100%;
	padding:$ms5 0 $ms8;

	@include breakpoint(bp2){
		padding-top:$ms8;
		padding-bottom:$ms8 + 2em;
	}
	@include breakpoint(bp5){
		padding-top:$ms8 + 1em;
		padding-bottom:$ms8 + 3em;
	}
}
.section--inner {
	padding:0;

	@include breakpoint(bp2){
		padding:0;
	}
}
.section--space-top {
	padding:$ms3 0 $ms-4;

	@include breakpoint(bp2){
		padding:$ms7 0 $ms4;
	}
}

.section--fixed {
	@include breakpoint(bp2){
		background-attachment:fixed;
	}
}


/*Colours*/
.section--white { background-color:$brand1; }
.section--light-blue { 	
	background-color:transparent; 
	background-image:url(#{$base-image-url}/backgrounds/section-light-blue.jpg);
	background-size:100% auto;
}
.section--blue { 
	background-color:transparent; 
	background-image:url(#{$base-image-url}/backgrounds/section-blue.jpg);
    background-repeat: repeat-x;
	background-size:cover;

	@include breakpoint(bp2){
		background-repeat: repeat;
		background-size:100% auto;
	}
	@include breakpoint(bp5){
		background-size:66% auto;
	}
}
.section--blue-top { background-position: top center; }
.section--blue-bottom { background-position: bottom center; }


.section--relative {
	position: relative;
}


.section--bees {
	position: relative;
	overflow: hidden;
}


.section__inner {
	position: relative;
	float:left;
	width:100%;
	padding:$ms4 0 $ms8;
	overflow:hidden;

	@include breakpoint(bp2){
		padding-top:$ms7;
		padding-bottom:$ms8 + .5em;
	}
	@include breakpoint(bp5){
		padding-top:$ms8 + 1em;
		padding-bottom:$ms8 + 2em;
	}
}
.section__inner--partners {
    padding:$ms6 0 $ms5;
}
.section__inner--faq {
    padding:$ms7 0 $ms5;

	@include breakpoint(bp2){
		padding-top:$ms7;
		padding-bottom:$ms4;
	}
	@include breakpoint(bp5){
		padding-top:$ms8;
		padding-bottom:$ms6;
	}
}


.section-divider {
	position: absolute;
	left:0;
	width:100%;
	height:60px;
	background-color:transparent; 
    background-position: top center;
	background-repeat:repeat-x;
	background-size:cover;
	z-index:1;

	@include breakpoint(bp3){
		height:94px;
        background-size:100% auto;
	}
	@include breakpoint(bp5){
		background-size:66% auto;
	}
}
.section-divider--blue-top {
	top:-60px;	
	background-image:url(#{$base-image-url}/backgrounds/section-blue-top.png);

	@include breakpoint(bp3){
		top:-94px;	
	}
}
.section-divider--blue-bottom {
	bottom:-59px;	
	background-image:url(#{$base-image-url}/backgrounds/section-blue-bottom.png);

	@include breakpoint(bp3){
		bottom:-94px;	
	}
}
.section-divider--light-blue {
	height:30px;
	bottom:-30px;	
	background-image:url(#{$base-image-url}/backgrounds/section-light-blue-bottom.png);
	background-size:100% auto;

	@include breakpoint(bp1){
		height:71px;
		bottom:-71px;
	}
	@include breakpoint(bp5){
		height:100px;
		bottom:-100px;
		background-size:66% auto;		
	}
}


.section__decoration {
	position: absolute;
	display: block;
	height:auto;
	z-index:0;
}

.section__decoration1 {
	width:140px;
	bottom:-$ms6;
	right:-$ms2;
	@include transition();

	@include breakpoint(bp1){
		bottom:-$ms8;
		width:280px;
	}
	@include breakpoint(bp2){
		bottom:-$ms0;
		right:-$ms6;
		width:300px;
	}	
	@include breakpoint(bp4){
		width:330px;
	}
	@include breakpoint(bp5){
		bottom:$ms0;
		right:$ms6;
	}
}

.section__decoration2 {
	width:100px;
	bottom:-$ms-6;
	left:$ms2;
	@include transition();

	@include breakpoint(bp1){
		width:180px;
	}
	@include breakpoint(bp4){
		width:260px;
		left:$ms8 + 2em;
	}
	@include breakpoint(bp5){
		left:$ms8 + 12em;

	}
}

.section__decoration3 {
    display: none;
	width:100px;
	top:$ms8;
	left:-$ms-8;
	@include transition();

	@include breakpoint(bp1){
		width:120px;
	}
	@include breakpoint(bp2){
        display: block;
		bottom:-$ms0;
		width:200px;
	}
}