/* 
 * 
 * $SiteTitles
 *
**/

.site-titles__brand {
	display:block;
	width:100%;
	padding:$ms-7 0 $ms-8;
	margin-bottom:0;
	@include type-large;
	text-align:center;
	text-transform:uppercase;
	line-height:$ms-1;

	a {
		margin-bottom:0;
		font-weight:600;
		cursor:pointer;

		&:hover {
			color:$brand3;
			text-decoration:none;
		}
	}

	@media all and (min-width: 340px) {
		@include type-xlarge;
	}
	@include breakpoint(bp1) {
		padding:$ms-8 0 $ms-8 - .075em;
		font-size:$ms3 - .15em;
	}
}