/* 
 * 
 * $Base - Wrappers, Containers
 *
**/

/* ==============
 * Containers
 * =============*/

html,body {
    width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background-color:$brand1;	
	background-repeat:repeat;
}


/* 
 * Apply a natural box layout model to all elements, 
 * but allowing components to change 
 */
.page {
	position:relative;
	display:block;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:$brand2;
	@include clearfix();
	z-index:1;

	*, *:before, *:after {
	  box-sizing: inherit;
	}

	&.sticky-offset {
		padding-top:55px;
	}
	
	@include breakpoint(bp2) {        
        &.sticky-offset {
            padding-top:80px;
        }       
    }
    @include breakpoint(bp3) {
		top:100vh;
        
        &.sticky-offset {
            padding-top:77px;
        }       
    }
	@include breakpoint(bp5) {
		top:auto;
	}
}



/*Container*/
$container-max: $wrapper * 1px;

.container {
	float:none;
	width:auto;
	clear:both;
	display:block;
	max-width:$container-max;
	margin:0 auto;
	padding:0 $ms0;
	@include clearfix();
}
.container--relative { position:relative; }
.container--narrow { max-width:960px; }
.container--wide { max-width:1400px; }