/* 
 * 
 * $Title
 *
**/

.title {
	margin-bottom:$ms-3;
	@include type-giga;
	text-transform:uppercase;
	text-align:center;
	font-weight:$fw-bold;
	line-height:$ms-1;
}
.title--space { 
	margin-bottom:$ms-2; 

	@include breakpoint(bp1) {
		margin-bottom:$ms-1;
	}
}