/*
 * Site Navigation Trigger for Mobile
*/

/*Colours*/
$nav-button: #ccc;

/*Colours*/
$nav-button: $brand2;

/* Mobile menu button - with transitions */
$button-size: 2.6em;
$transition: .3s;

.site-nav-cta {
  float:left;
  padding:0; 
  margin:-4px 0 0;
  background-color:transparent;
  text-align:center;
  text-decoration:none;
  @include type-large;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color:$brand1;
  cursor:pointer;

  &:hover {
    text-decoration:none;
  }

  @include breakpoint(bp1){
    margin-top:-1px;
  }
  @include breakpoint(bp2){
    display:none;
  }
}

.lines-button {
  position: relative;
  float:left;
  padding:$ms-4;
  cursor: pointer;
  user-select: none;
  @include transition();
  font-size:15px;
  border:0;

  &:hover {
    opacity: 1;
  }
 
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }

  @include breakpoint(bp1){
    padding-top:$ms-6;
  }
}

/*Mixin*/
@mixin line {
  display:inline-block;
  width:$button-size/1.4;
  height:4px;
  background:$brand2;
  transition:$transition;
  @include border-radius(2em);
}

.lines {
  /*create middle line*/
  @include line;
  position: relative; 
 
  /*create the upper and lower lines 
  as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: 3px center;
  }
  &:before { top:9px; }
  &:after { top:-9px; }
}

.active .lines {
    /*hide the middle line*/
    background: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: $button-size/1.4;
    }
 
    /*rotate the lines to form the x shape*/
    &:before{
      transform: rotate3d(0,0,1,45deg); 
      -ms-transform:rotate3d(0,0,1,45deg);
      -webkit-transform:rotate3d(0,0,1,45deg);
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg); 
      -ms-transform:rotate3d(0,0,1,-45deg);
      -webkit-transform:rotate3d(0,0,1,-45deg);
    }
}
