/* 
 * 
 * $Bees
 *
**/

.bee-path {
    position: absolute;
    top:0;
    left:0;
    display:block;
    width:100%;

    svg {
        display:none;
    }
}


.bee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:50px;
    height: auto;
    z-index:1;    
}