/* 
 * 
 * $Brands
 *
**/

.brands {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    list-style: none;
    margin:0;
    padding:0;
    @include clearfix();

    @include breakpoint(bp4){
        max-width: 1000px;
        margin:0 auto;    
    }
}


.brand {
    display: block;
    width: 152px;
    margin: 0;
    padding: 0;
    margin:0 $ms6 $ms1;
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    @include breakpoint(bp1){
        display: inline-block;
        margin:0 $ms2;
    }
    @include breakpoint(bp3){
        width: 180px;
        margin:0 $ms2 0;
    }
}
.brand--white-claw {
    @include breakpoint(bp3){
        margin-top:$ms0;
        width: 160px;
    }    
}
.brand--clif {
    width: 62px;

    @include breakpoint(bp1){
    }
    @include breakpoint(bp3){
        width: 75px;
    }
}
.brand--sailor {
    @include breakpoint(bp1){
        width: 160px;
        margin-bottom:$ms0;
    }
    @include breakpoint(bp3){
        width:220px;
    }
}
.brand--allagash {
    margin-top:$ms2;

    @include breakpoint(bp1){
        width: 160px;
    }
    @include breakpoint(bp3){
        width:220px;
    }
}
.brand--noble-oak {
    margin-top:$ms2;
    @include breakpoint(bp3){
    }
}
.brand--vapour {
    margin-top:$ms2;
    @include breakpoint(bp3){
    }
}
.brand--recover {
    margin-top:$ms2;
    @include breakpoint(bp3){
    }
}