/* 
 * 
 * $Hero
 *
**/

.hero {
  position: relative;;
  display:block;
  width:100%;
  padding:$ms2 0;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-color:$brand2;
  background-image:url(#{$base-image-url}/backgrounds/section-hero.jpg);
  overflow:hidden;
  z-index:0;

  @include breakpoint(bp3) {
    position:fixed;
    height:100vh; 
    padding:0;
    background-image:none;
  }
  @include breakpoint(bp5) {
    position: relative;
    height:auto;
    min-height:1000px;
    background-image:url(#{$base-image-url}/backgrounds/section-hero.jpg);
  }
}


.hero__confetti {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:50% 54%;
  background-repeat:repeat;
  background-size:1850px auto;
  background-image:url(#{$base-image-url}/hero/confetti.png);  

  @include breakpoint(bp5) {
    display:block;
  }
}


.hero__desktop {
  display:none;
  position: absolute;
  top:50%;
  left:50%;
  width:100%;
  height:105%;
  margin:0 auto;
  object-fit:cover;
  transform:translate(-50%, -48%);
  
  @include breakpoint(bp3) {
    display:block;
  }
  @include breakpoint(bp5) {
    display:none !important;
  }
}
.hero__desktop2,
.hero__desktop3,
.hero__desktop4,
.hero__desktop5,
.hero__desktop6 { 
    display: none;
    opacity:0; 
}


.hero-mobile-container {
    float:left;
    width:100%;
    padding-bottom:100%;

    @include breakpoint(bp3) {
        display:none;
      }
}

.hero__mobile {
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    margin:0 auto;
    object-fit:cover;
    transform:translate(-50%, -50%);
}
.hero__mobile2,
.hero__desktop3,
.hero__desktop4,
.hero__desktop5,
.hero__desktop6 { 
    display: none;  
    opacity:0; 
}


.hero__content {
//   display:block;
    display: none;
  width:85%;
  margin:$ms2 auto;

   @include breakpoint(bp3) {
    display:none;
    @include centerer();
    width:65%;
    max-width:1000px;
  }
  @include breakpoint(bp5) {
    transform:translate(-50%,-60%);
    display: block;
  }

}


.hero__presents {
	position:relative;
	display:block;
	top:auto;
	left:50%;
	width:80%;
	height:auto;
	margin-bottom:$ms-4;
	transform:translateX(-50%);

	@include breakpoint(bp3) {
		left:25%;
		width:50%;
    transform:none;
	}
}


.hero__title {
  display:block;
  width:100%;
  height:auto;
}


.hero__date {
  position:relative;
  float:left;
  top:$ms-2;
  left:50%;
  width:100%;
  height:auto;
  margin-bottom:$ms2;
  transform:translateX(-50%);

	@include breakpoint(bp3) {
		top:35px;
		left:-10%;
		width:48%;
    transform:none;
	}
}


.hero__inclusive {
  position:relative;
  float:left;
  top:20px;
  left:50%;
  width:55%;
  height:auto;
  transform: rotate(17deg) translateX(-50%);

  @include breakpoint(bp1) {
    top:40px;
  }
  @include breakpoint(bp3) {
    float:right;
    top:-20px;
    left:auto;
    right:-13%;
    width:32%;
    transform:none;
  }
}


.hero__subtitle {
  margin-bottom:0;
  @include font-fancy;
  @include type-medium;
  color:$brand1;
  text-transform:uppercase;
  font-weight:$fw-bold;
  opacity:0.9;
  letter-spacing:0.05em;

  span {
    position:relative;
    top:-0.15em;
    @include type-xsmall;
  }

  a {
    text-decoration:none;
    border-bottom:2px dashed transparent;

    @include breakpoint(bp1) {
        &:hover { 
          border-bottom-color:$brand1;
        }
    }
  }
  
  @include breakpoint(bp1) {
    @include type-large;
  }
}


.hero__scroll {
  position:absolute;
  bottom:$ms-4;
  margin-bottom:0;
  @include centre-horizontal();  
  z-index:2;

  @include breakpoint(bp2) {
    opacity:0.7;

    &:hover { opacity:1; }
  }
}