/* 
 * 
 * $Instafeed
 *
**/

.instafeed {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:0 auto $ms-4;

	article {
		position:relative;
	    flex: 1 0 auto;
        width:230px;
        height:auto;
        margin:0 $ms-6 $ms-2;
		overflow:hidden;

		&:before {
		    float:left;
		    content:'';
		    padding-top:100%;
		}

		img {
			position:absolute;
			display:block;
			width:100%;
			height:100%;
			object-fit:cover;
		}

	}

	figure { margin:0; }
}