/* 
 * 
 * $Social
 *
**/

.social__items {
	clear:both;
	display:block;
	padding-bottom:0;
	margin:$ms2 auto $ms-8;
    text-align:center;
    
    @include breakpoint(bp1){
        margin:0 auto $ms-6;
    }
}


.social__item {
	display:inline-block;
	list-style:none;
	margin:0 1px;

	a {
		display:block;
		margin:0 auto;
		padding-bottom:0;
	}

	.icon--social {
		font-size:16px;
		margin:$ms-8;

		@include breakpoint(bp1){
			font-size:23px;		
			margin:0 $ms-8 - .1em;
		}
    }
    .icon--social-spotify {
		@include breakpoint(bp1){
			font-size:27px;		
		}        
    }
}