/* 
 * 
 * $Video
 *
**/

.video-container {
    position:relative;
    display:block;
    width:100%;
    height:320px;
    padding-bottom: 56.25%; /*16:9*/
    height: 0; 
    overflow: hidden;

    @include breakpoint(bp3) {
        padding-bottom: 56.222%; 
    }
}

.video-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:transparent;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    z-index:1;

    &:before {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        content:'';
        background-color:transparent;
        opacity:0.25;
    }
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video-play {
    position:absolute;
	display:block;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    padding-bottom:0;
    border:0;
    outline:0;
    @include transition();
    cursor:pointer;
  
    &:hover {
        opacity:1;
    }

    .icon--play { 
        position:absolute;
        top:50%;
        left:50%;
        font-size:15px;
        transform:translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        z-index:2; 
    }

    @include breakpoint(bp1) {
        .icon--play { font-size:22px; }
    }
    @include breakpoint(bp2) {
        opacity:.85;

        .icon--play { font-size:27px; }
    }
    @include breakpoint(bp5) {
        .icon--play { font-size:38px; }
    }
}