/* 
 * 
 * $Colours
 *
**/

/*================*
 * Define colours
 *================*/

/* Whites */
$white: #fff;

/*Blues*/
$baby-blue: #15A4DD;

// Yellow
$sun: #FFCF00;

/*Oranges*/
$tangerine: #FC913A;

// Brown
$wood: #814A19;

/*================*
 * Brand Colours
 *================*/
$brand1: $white;
$brand2: $baby-blue;
$brand3: $sun;
$brand4: $tangerine;
$brand5: $wood;