/* 
 * 
 * $Mixins
 *
**/

/*Breakpoints*/
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $bp4) { @content ; }
  }
  @else if $point == bp5 {
    @media (min-width: $bp5) { @content ; }
 }
 @else if $point == bp4 {
  @media (min-width: $bp4) { @content ; }
}
  @else if $point == bp3 {
     @media (min-width: $bp3) { @content ; }
  }
    @else if $point == bp2 {
     @media (min-width: $bp2) { @content ; }
  }
   @else if $point == bp1 {
     @media (min-width: $bp1)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}


/*Clearfix*/
@mixin clearfix() {
    zoom: 1;
    &:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
    }
}


/*Transition*/
@mixin transition($time: 0.3s) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}


/*Centre*/
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin centre-horizontal {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/*Zoom*/
@mixin zoom($scale, $scale) {
      /* Webkit for Chrome and Safari*/ 
      -webkit-transform: scale($scale, $scale); // This is the scale for the normal size of the image.
      -webkit-transition-duration: 300ms;
      -webkit-transition-timing-function: ease-out;
     
      /* Webkit for Mozila Firefox */
      -moz-transform: scale($scale, $scale);
      -moz-transition-duration: 300ms;
      -moz-transition-timing-function: ease-out;
     
      /* Webkit for IE( Version: 11, 10 ) */
      -ms-transform: scale($scale, $scale);
      -ms-transition-duration: 300ms;
      -ms-transition-timing-function: ease-out;
}


/*Border Radius*/
@mixin border-radius($radius: 6px) {
    -webkit-border-radius:   $radius;
    -moz-border-radius:      $radius;
    border-radius:           $radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}



/*Keyframes Mixin*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }  
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }  
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin animation($str) {
-webkit-animation: #{$str};
-moz-animation: #{$str};
-ms-animation: #{$str};
-o-animation: #{$str};
animation: #{$str};
}