<section id="about" class="section section--fixed section--bees section--light-blue section--relative">
	<div class="container container--narrow">	

		<div class="entry">
			<p>Welcome campers is an all-inclusive music festival produced with love by the wild honey pie. head to camp lenox in the berkshires on memorial day weekend for an unforgettable adult summer camp meets music festival for the kid in all of us.</p>
		</div>

	</div>

	<div class="bee-path">
		<img id="bee1" class="bee bee2" src="/images/misc/bee.png" alt="Bee 1" />
		<svg id="Bee1" width="1949px" height="1361px">
			<path id="Path-1" fill="none" stroke-width="1" d="M1581.83954,399.96875 C1492.15204,574.520833 1351.46975,675.052083 1159.79267,701.5625 C872.277042,741.328125 693.370792,696.703125 670.573917,585.21875 C647.777042,473.734375 734.433292,454.5 787.573917,454.5 C840.714542,454.5 897.480167,489.015625 897.480167,585.21875 C897.480167,681.421875 814.214542,899.671875 460.636417,828.890625 C107.058292,758.109375 -54.4104579,415.9375 16.2926671,258.6875 C86.9957921,101.4375 132.245792,1.52614982e-14 366.152042,0 C600.058292,0 1549.37079,41.5625 1074.71454,903.046875 C600.058292,1764.53125 -97.9729579,1192.1968 16.2926671,931.34375 C130.558292,670.490702 871.683292,98.484375 1581.83954,657.859375 C2055.27704,1030.77604 2069.96975,978.484375 1625.91767,500.984375 L1581.83954,399.96875 Z"></path>
		</svg>

		<img id="bee2" class="bee bee2" src="/images/misc/bee.png" alt="Bee 2" />
		<svg id="Bee2" width="1438px" height="479.333px">
			<path id="Path-2" fill="none" d="M-759,99.334c0-132.364,107.303-239.667,239.667-239.667c132.364,0,239.667,107.303,239.667,239.667
				c0,132.366,107.303,215.7,239.667,215.7c132.366,0,191.733-119.834,191.733-215.7C151.733,3.467,79.833-92.4-40-92.4
				c-119.834,0-191.733,95.868-191.733,191.734c0,95.866,59.37,215.7,191.733,215.7c155.783,5.991,239.667-83.884,239.667-215.7
				c0-132.364,107.299-239.667,239.665-239.667C571.699-140.333,679-33.03,679,99.334C679,231.7,571.699,339,439.332,339h-958.666
				C-651.697,339-759,231.7-759,99.334z"/>
		</svg>

		<img id="bee3" class="bee bee3" src="/images/misc/bee.png" alt="Bee 3" />
		<svg id="Bee3" width="1949px" height="1361px">
			<path id="Path-3" fill="none" d="M10.03125,1486.21875 C-50.0520833,2057.42708 196.770833,2294.51042 750.5,2197.46875 C1581.09375,2051.90625 1828.21875,1379.25 1566.875,950.75 C1305.53125,522.25 1090.65625,750.8125 1028.34375,850.78125 C966.03125,950.75 915.6875,1369.4375 1371.0625,1369.4375 C1826.4375,1369.4375 2065.59375,1077.15625 2065.59375,850.78125 C2065.59375,624.40625 1833.0625,-352.65625 1028.34375,135.875 C491.864583,461.5625 152.427083,786.178213 10.03125,1109.72214 L10.03125,1486.21875 Z" stroke=""></path>
		</svg>
	</div>
</section>
