<section id="faq" class="section section--relative section--space-top section--inner section--light-blue section--blue-bottom">
    <div class="section-divider section-divider--light-blue section-divider--bottom"></div>

    <div class="section__inner section__inner--faq">
        <div class="container container--narrow">	

			<div class="entry entry--tight entry--faq">
				<p><a href="https://www.eventbrite.com/e/welcome-campers-tickets-50504279660" target="_blank">Questions answered on our Ticketing Page</a></p>
			</div>

		</div>
	</div>
</section>
