<section id="lineup-activities" class="section section--inner section--blue section--blue-top section--relative">
    <div class="section-divider section-divider--blue-top"></div>

      <div id="js-canvas-wrapper" class="canvas-wrapper"></div>

    <div class="section__inner">
        <div class="container container--narrow">	

            <div class="entry entry--activities entry--light">
                <h3>Lineup</h3>
                <ul class="entry__lineup">
                    <li><a href="https://wet.band" target="_blank">Wet</a></li> 
                    <li><a href="https://torrestorrestorres.bandcamp.com" target="_blank">Torres</a></li>
                    <li><a href="http://www.lizaannemusic.com" target="_blank">Liza Anne</a></li>
                    <li><a href="https://www.ashe-music.com" target="_blank">Ashe</a></li>
                    <li><a href="http://www.henryjamison.com" target="_blank">Henry Jamison</a></li>
                    <li><a href="https://aishabadru.com" target="_blank">Aisha Badru</a></li> 
                    <li><a href="http://www.half-waif.com" target="_blank">Half Waif</a></li> 
                    <li><a href="http://www.savoiradore.com" target="_blank">Savoir Adore</a></li> 
                    <li><a href="https://daisythegreatband.bandcamp.com" target="_blank">Daisy The Great</a></li> 
                    <li><a href="http://plasticpicnic.com" target="_blank">Plastic Picnic</a></li>
                </ul>

                <h3>Activities</h3>
                <ul class="entry__activities">
                    <li>Live music</li> 
                    <li>Campfire</li>
                    <li>DJ Sets</li>
                    <li>Kayaking</li>
                    <li>Swimming</li> 
                    <li>Basketball</li> 
                    <li>Ping Pong</li> 
                    <li>Dodgeball</li> 
                    <li>Volleyball</li>
                    <li>Nature Hike</li> 
                    <li>Yoga</li>
                    <li>Arts &amp; Crafts</li>
                    <li>Dance Parties</li>
                    <li>Karaoke</li>
                    <li>Trivia</li>
                    <li>Food Truck</li>
                </ul>
            </div>

            <img class="section__decoration section__decoration1" src="images/misc/swimmer-01.png" alt="Kayak" />
            <img class="section__decoration section__decoration2" src="images/misc/swimmer-02.png" alt="Swimmer 1" />
            <img class="section__decoration section__decoration3" src="images/misc/swimmer-03.png" alt="Swimmer 2" />
        </div>
    </div>
</section>