<section id="lineup-activities" class="section section--inner section--blue section--blue-bottom section--relative">
    <div class="section-divider section-divider--blue-top"></div>    
    <div class="section__inner section__inner--partners">
        <div class="container">	

            <div class="entry entry--light entry--space">
                <h3>A collaboration with</h3>
            </div>

            <ul class="brands">
                <li class="brand brand--sailor"><a href="http://bit.ly/2AxRj9n" target="_blank"><img src="/images/brands/sailor-jerry.png" alt="Sailor Jerry" /></a></li>
                <li class="brand brand--clif"><a href="http://bit.ly/2p46Fwi" target="_blank"><img src="/images/brands/clif-logo.png" alt="Clif" /></a></li>
                <li class="brand brand--white-claw"><a href="http://bit.ly/2QpVoGv" target="_blank"><img src="/images/brands/white-claw.png" alt="White Claw" /></a></li>
                <li class="brand brand--vapour"><a href="" target="_blank"><img src="/images/brands/vapour.png" alt="Vapour" /></a></li>
                <li class="brand brand--recover"><a href="https://recoverbrands.com/" target="_blank"><img src="/images/brands/recover.png" alt="Recover" /></a></li>
                <li class="brand brand--noble-oak"><a href="http://bit.ly/2tJsbbW" target="_blank"><img src="/images/brands/noble-oak.png" alt="Noble Oak" /></a></li>
                <li class="brand brand--allagash"><a href="#" target="_blank"><img src="/images/brands/allagash-brewing.png" alt="Allagash Brewing" /></a></li>
            </ul>

        </div>
    </div>
    <div class="section-divider section-divider--blue-bottom"></div>
</section>