<div id="video" class="js-video js-youtube video-container" data-youtube="OhypWZUxeQY">
    <div class="js-video-overlay0 video-overlay" style="background-image:url(images/misc/video-cover.jpg)">
        <button class="js-video-trigger0 video-play" title="Play Video">
            <i class="icon--audio icon--play"></i>
        </button>
    </div>
    <div class="js-video-player js-video-player0 video"></div>
</div>

<script>
    // Build Youtube and Vimeo Video Detail Arrays
    var videos = document.getElementsByClassName('js-video'),
        youtubeVids = [],
        vimeoVids = [];  

    for(var i = 0; i < videos.length; i++) {
        var videoId;
        if (videos[i].hasAttribute('data-youtube')) {
            youtubeVids.push({
                id: i, 
                videoId: videos[i].getAttribute('data-youtube')
            });
        }
    } 

    if(document.querySelector('.js-youtube') !== null) { 
        // Youtube Iframe Embed (Must be in global scope)
        // This code loads the IFrame Player API code asynchronously.
        createScriptTag('https://www.youtube.com/iframe_api');  

        // YT function - call this function once
        function onYouTubeIframeAPIReady() {
            if(typeof youtubeVids === 'undefined')
                return; 

            // Create multiple players
            for(var i = 0; i < youtubeVids.length; i++) {
                var player = createYoutubePlayer(youtubeVids[i]);
            }
        }

        // Build the Youtube player for single video with ID
        function createYoutubePlayer(vidInfo) {
            var id = vidInfo.id;
            var el = document.querySelector('.js-video-player'+id);
            var videoId = vidInfo.videoId;

            return new YT.Player(el, {
                width: '1280',
                height: '720',
                videoId: videoId,
                playerVars: { 
                    'rel': 0
                }, 
                events: {
                    'onReady': function(event) {
                        var trigger = document.querySelector('.js-video-trigger'+id);
                        var videoOverlay = document.querySelector('.js-video-overlay'+id);
                        trigger.addEventListener("click",function(){
                            videoOverlay.style.display = "none";
                            event.target.playVideo();
                        });
                    },
                    'onStateChange': function(event) {
                        if (event.data == YT.PlayerState.ENDED) {
                            videoOverlay.style.display = "block";
                        }
                    }
                }            
            });
        }        
    } 

    // Create the Script tag for Youtube - Vimeo doesn't work with this for some reason :-(
    function createScriptTag(src) {
        var tag = document.createElement('script');
        tag.setAttribute('src', src);
        var head = document.getElementsByTagName('head')[0];
        head.appendChild(tag);
    }
</script>